[submodule "src/canu"]
	path = src/canu
	url = https://github.com/marbl/canu.git
[submodule "src/rukki"]
	path = src/rukki
	url = https://github.com/marbl/rukki
[submodule "src/MBG"]
	path = src/MBG
	url = https://github.com/skoren/MBG
[submodule "src/hifioverlapper"]
	path = src/hifioverlapper
	url = https://github.com/maickrau/hifioverlapper
